.pokedex-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 0 10px;
    text-align: left;

}

.pokedex-title {
    display: flex;
    padding-left: 20px;
    font-size: 50px;
}