.searchbar-container {
    display: grid;
    justify-content: center;
    margin: 0px auto;
    padding: 20px 0 0px 0;
    align-items: center;

}

.searchbar {
    background-color: white;
}

.searchbar input {
    padding: 10px;
    box-shadow: 0px 2px 2px grey;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    width: 500px;

}

.searchbar input:focus {
    outline: none;
}

.searchbar-btn button {
    background-color: black;
    border: none;
    border-radius: 10px;
    height: 100%;
    color: white;
    height: 40px;
    padding: 10px 12px;
}

.pokemon-search {
    display: grid;
    justify-content: center;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    grid-auto-columns: auto;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
}